.copyright {
    position: absolute;
    bottom: 12px;
    font-size: 12px;
    font-weight: 500;
    color: #FFF;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: rotate(180deg);
}